@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* BASE COLORS */

    --accent-100: 209 100% 91%;
    --accent-200: 212 81% 82%;
    --accent-300: 224 100% 62%;
    --accent-400: 224 42% 38%;
    --accent-500: 224 37% 26%;

    /* SEMANTIC COLORS */

    --brand-primary: 166 68% 78%;
    --brand-secondary: 166 58% 54%;
    --brand-third: 166 39% 26%;

    --surface-primary: 0 0% 100%;
    --surface-secondary: 210 50% 98%;
    --surface-third: 0 0% 100%;
    --surface-fourth: 210 50% 98%;
    --surface-fifth: 0 0% 100%;

    --text-primary: 218 16% 15%;
    --text-secondary: 215 14% 28%;
    --text-third: 210 16% 32%;
    --text-fourth: 211 11% 46%;
    --text-fifth: 210 14% 62%;

    --button-primary: 217 18% 11%;
    --button-primary-inverse: 210 50% 98%;
    --button-secondary: var(--accent-300);
    --button-third: 0 0% 100%;
    --button-third-inverse: 223 20% 7%;
    --button-fourth: 214 33% 96%;
    --button-fifth: 208 24% 89%;
    --button-sixth: 209 100% 91%;
    --button-seventh: 212 81% 82%;
    --button-eighth: 224 42% 38%;

    --supportive-primary: 208 24% 89%;
    --supportive-secondary: 216 66% 69%;
    --supportive-third: 216 52% 69%;
    --supportive-fourth: 224 100% 62%;

    /* OTHER COLORS */

    --red-strong: 7 68% 55%;
    --red-soft: 7 82% 91%;

    --green-strong: 130 42% 52%;
    --green-soft: 130 49% 87%;

    --yellow-strong: 50 86% 55%;
    --yellow-soft: 50 77% 87%;

    --orange-soft: 25 83% 90%;
    --magenta-soft: 331 60% 90%;
    --purple-soft: 281 49% 88%;
    --blue-soft: 238 49% 88%;

    /* GRADIENTS */

    --gradient-solid-to-r: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    --gradient-solid-to-b: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

    --gradient-blur-to-r: linear-gradient(90deg, #3d70ff 0%, #44cdac 100%);

    --gradient-accent-to-r: linear-gradient(
      90deg,
      rgba(61, 112, 255, 60%) 0%,
      rgba(61, 112, 255, 20%) 100%
    );

    --gradient-accent-to-b: linear-gradient(180deg, #d1e9ff 0%, rgba(209, 233, 255, 0.2) 100%);
    --gradient-green-to-b: linear-gradient(
      180deg,
      rgba(61, 209, 174, 0.6) 0%,
      rgba(61, 209, 174, 0.2) 100%
    );

    /* SHADOWS */

    --box-shadow-primary: 0px 12px 25px 0px rgba(36, 47, 63, 0.25);
    --box-shadow-secondary: 0px 12px 25px 0px rgba(61, 112, 255, 0.3);
    --box-shadow-third: 0px 8px 25px 0px rgba(168, 179, 211, 0.15);
    --box-shadow-fourth: 0px 7px 28.1px 0px rgba(28, 118, 183, 0.08);
    --box-shadow-fifth: 0 7px 85px -14px rgba(35, 34, 94, 0.15);
  }

  .dark {
    /* SEMANTIC COLORS */

    --brand-primary: 166 38% 26%;
    --brand-secondary: 166 58% 54%;
    --brand-third: 166 69% 79%;

    --surface-primary: 223 20% 7%;
    --surface-secondary: 216 19% 11%;
    --surface-third: 220 15% 15%;
    --surface-fourth: 214 14% 20%;
    --surface-fifth: 213 14% 27%;

    --text-primary: 0 0% 100%;
    --text-secondary: 214 33% 96%;
    --text-third: 208 24% 89%;
    --text-fourth: 208 17% 81%;
    --text-fifth: 210 14% 62%;

    --button-primary: 210 50% 98%;
    --button-primary-inverse: 217 18% 11%;
    --button-secondary: var(--accent-300);
    --button-third: 223 20% 7%;
    --button-third-inverse: 0 0% 100%;
    --button-fourth: 213 14% 27%;
    --button-fifth: 210 16% 33%;
    --button-sixth: 224 42% 38%;
    --button-seventh: 224 37% 25%;
    --button-eighth: 212 81% 82%;

    --supportive-primary: 214 14% 20%;
    --supportive-secondary: 216 43% 59%;
    --supportive-third: 216 24% 48%;
    --supportive-fourth: 216 100% 69%;

    /* OTHER COLORS */

    --red-strong: 7 89% 64%;
    --red-soft: 7 21% 25%;

    --green-strong: 130 44% 45%;
    --green-soft: 130 23% 27%;

    --yellow-strong: 50 100% 62%;
    --yellow-soft: 50 21% 24%;

    --orange-soft: 24 15% 29%;
    --magenta-soft: 331 16% 27%;
    --purple-soft: 279 12% 26%;
    --blue-soft: 238 14% 28%;

    /* GRADIENTS */

    --gradient-solid-to-r: linear-gradient(90deg, #3c4550 0%, rgba(60, 69, 80, 0) 100%);
    --gradient-solid-to-b: linear-gradient(180deg, #3c4550 0%, rgba(60, 69, 80, 0) 100%);

    --gradient-blur-to-r: linear-gradient(90deg, #3d70ff 0%, #44cdac 100%);
    --gradient-accent-to-r: linear-gradient(
      90deg,
      rgba(61, 112, 255, 60%) 0%,
      rgba(61, 112, 255, 20%) 100%
    );

    --gradient-accent-to-b: linear-gradient(180deg, #3d70ff 0%, rgba(61, 112, 255, 0.2) 100%);
    --gradient-green-to-b: linear-gradient(
      180deg,
      rgba(61, 209, 174, 0.6) 0%,
      rgba(61, 209, 174, 0.2) 100%
    );

    /* SHADOWS */

    --box-shadow-primary: 0px 12px 25px 0px rgba(255, 255, 255, 0.4);
    --box-shadow-secondary: 0px 12px 25px 0px rgba(61, 112, 255, 0.3);
    --box-shadow-third: 0px 8px 25px 0px rgba(168, 179, 211, 0.15);
    --box-shadow-fourth: 0px 7px 28.1px 0px rgba(28, 118, 183, 0.08);
    --box-shadow-fifth: 0 7px 85px -14px rgba(35, 34, 94, 0.15);
  }

  html {
    @apply min-h-full min-w-[375px] font-main;

    text-size-adjust: 100%;
    -webkit-tap-highlight-color: var(--accent-300);
  }

  body {
    @apply relative flex min-h-full flex-col break-words bg-surface-secondary text-base text-text-primary selection:bg-accent-300 selection:text-white;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='password']::-ms-reveal,
  input[type='password']::-ms-clear {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}

@layer components {
  .icon {
    @apply select-none fill-current inline-block text-inherit box-content;
  }

  .icon[data-axis*='x'] {
    @apply w-[1.25em];
  }

  .icon[data-axis*='y'] {
    @apply h-[1.25em];
  }

  .text-0 {
    font-size: 0;
    line-height: 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.recharts-pie-label-text {
  @apply fill-text-third;
}

.EmojiPickerReact {
  --epr-highlight-color: hsl(var(--supportive-primary)) !important;
  --epr-focus-bg-color: hsl(var(--surface-secondary)) !important;
  --epr-text-color: hsl(var(--text-fourth)) !important;
  --epr-search-input-bg-color: hsl(var(--surface-secondary)) !important;
  --epr-picker-border-color: transparent !important;
  --epr-bg-color: hsl(var(--surface-third)) !important;
  --epr-search-border-color: hsl(var(--supportive-primary)) !important;

  --epr-search-input-bg-color-active: hsl(var(--surface-secondary)) !important;
  --epr-search-input-text-color: hsl(var(--text-primary)) !important;
  --epr-search-input-placeholder-color: hsl(var(--text-fourth)) !important;

  --epr-category-label-text-color: hsl(var(--text-primary)) !important;
  --epr-category-label-bg-color: hsl(var(--surface-third)) !important;
  --epr-preview-border-color: hsl(var(--supportive-primary)) !important;

  .epr-body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .epr-body::-webkit-scrollbar {
    display: none;
  }
}